#main{
margin-top: 0px;
}

#title{
text-align: center;
font-family: Calibri;
font-size: 40px;
}

#table{
margin: auto;
border: 1px black solid;
background-color: skyblue;
font-family: Arial;
}

#get_button{
width: 150px;
height: 25px;
margin-left: 5%;
margin-top: 5px;
border-radius: 8px;
background-color: green;
}

#get_text{
font-weight: 650;
font-size: 15px;
font-family: Arial;
color: white;
}

#details{
margin-left: 20%;
}

#err_city{
color: red;
font-size: 15px;
font-weight: bold;
}

#err_code{
color: red;
font-size: 15px;
font-weight: bold;
}

#content{
margin-top:10px;
height: 500px;
}

#data_table{
width: 390px;
margin-top: 20px;
margin-right:auto;
margin-left:auto;
border: 1px black solid;
background-color: skyblue;
font-family: Arial;
}

#err_net{
margin-top: 15px;
text-align: center;
font-family: Arial;
font-size: 15px;
}

#err_city_exist{
margin-top: 15px;
text-align: center;
font-family: Arial;
font-size: 15px;
}